<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <%- include('_header') %>
        <h1>
            Socail Website <%= title %>
        </h1>
    </body>
</html>